@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

.App {
  margin: 0 15px 0 15px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 16px;
}
