li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-color: #fff;
}

nav .logo {
  width: 300px;
  height: auto;
  margin-right: 100px;
}

nav .link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: #abc4ff;
}

nav .link:visited {
  color: #abc4ff;
}

nav .link:hover {
  border-bottom: 2px solid #abc4ff;
}

nav .nav-link {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

nav .nav-link-item {
  font-size: 18px;
}

.nav-icon {
  display: none;
}

nav .burger {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .nav-icon {
    display: inherit;
    color: #abc4ff;
    font-size: 32px;
  }

  nav .nav-link {
    position: absolute;
    display: block;
    top: -16px;
    left: 0;
    height: 100vh;
    background: #edf2fb;
    width: 50%;
    transform: translateX(-500px);
    transition: 0.3s ease-in-out;
  }

  nav .nav-link li:first-of-type {
    margin-top: 60px;
  }
  nav .nav-link li {
    padding: 25px;
  }

  nav .link:hover {
    border-bottom: 0px solid #fff;
  }
}
