.meet-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.team-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #cad0d2;
  border-radius: 10px;
  margin: 10px;
  width: 25%;
  overflow: hidden;
}

.card-image {
  max-width: 25vw;
  max-height: auto;
  border-bottom: 2px solid #d7dbdd;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.card-description-text {
  color: #57727c;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  max-width: calc(100% - 30px);
}

.card-details {
  text-align: center;
  color: #57727c;
  font-size: 14px;
  padding: 5px 15px;
  border-top: 2px solid #d7dbdd;
  background-color: #eef3f5;
}
